
<div class="container m-3 p-3">
  <h1>Create new Bookmark</h1>
  <p>C'mon my friend time is money</p>
  <%= simple_form_for [@list, @bookmark] do |f|%>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.association :list %>
      <%= f.submit "add bookmark", class:"btn btn-primary rounded-border"%>
    <% end %>
  </div>
